streamlit
pyngrok
pymupdf
graphviz
pydot
torch
torchvision
torchaudio
transformers
sentencepiece
scikit-learn
numpy
pandas
Pillow
tqdm
matplotlib
openai
python-dotenv
azure-ai-openai
nest-asyncio
protobuf
accelerate
